<div class="wrapper-load-graficos">
  <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
</div>
<div class="graficos">
    <div class="header-graficos">
        <div class="verba-titulo">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="categoria-atual" data-categoria='13'>Categoria</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item" data-categoria="10" id="imoveis">
                <span class="title-categoria">Imóveis</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="11" id="expediente">
                <span class="title-categoria">Material de Expediente</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="12" id="software">
                <span class="title-categoria">Software; Serviços; Móveis; Telefones</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="13" id="consultorias">
                <span class="title-categoria">Consultorias, assessorias, pesquisas e trabalhos técnicos</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="14" id="divulgacao">
                <span class="title-categoria">Divulgação</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="15" id="locomocao">
                <span class="title-categoria">Locomoção, hospedagem</span>
                <span class="fa fa-caret-down"></span>
              </div>
            </div>
          </div>

        </div>

        <div class="anos">
            <span id="2007" class="badge badge-pill">2007</span>
            <span id="2008" class="badge badge-pill">2008</span>
            <span id="2009" class="badge badge-pill">2009</span>
            <span id="2010" class="badge badge-pill">2010</span>
            <span id="2011" class="badge badge-pill">2011</span>
            <span id="2012" class="badge badge-pill">2012</span>
            <span id="2013" class="badge badge-pill">2013</span>
            <span id="2014" class="badge badge-pill">2014</span>
            <span id="2015" class="badge badge-pill">2015</span>
            <span id="2016" class="badge badge-pill active">2016</span>
            <span id="2017" class="badge badge-pill">2017</span>
        </div>
    </div>
    <div class="body-graficos">
        <div class="indices"></div>
        <div class="wrapper-itens-graficos">

        </div>
    </div>
</div>

<div class="cards-gastos">
    <div class="header-gastos">
        <div class="gastos-titulo">
            <h2>Maio de 2016</h2>
            <div class="navigation-months">
                <div class="badge"><i class="fa fa-caret-left"></i></div>
                <div class="badge"><i class="fa fa-caret-right"></i></div>
            </div>
        </div>
    </div>
    <div class="body-card-gastos container-fluid">
       <div class="row">
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="hospedagem">HOSPEDAGEM</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="telefone">TELEFONE</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="consultoria">CONSULTORIA</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
       </div>
       <div class="row">
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="reembolsado">TOTAL REEMBOLSADO</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="divulgacao">DIVULGAÇÃO</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 66666,666</h3>
                        <p class="declarado">TOTAL DECLARADO</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
