{% load static %}

<div class="deputado-foto">
    <img src="{% static 'imagens/alba.png' %}" alt="ALBA" class="img-fluid">
</div>
 <div class="deputado-informacoes col-xs-12">
      <div class="deputado-descricao">
          <h2>{{ deputado_atual.nome }}</h2>
          <hr>
          <div class="infos-deputados">
            {% if deputado_atual.email %}
              <span class="info-label">Email</span>
              <span class="info">{{ deputado_atual.email }}</span>
            {% endif %}
            {% if deputado_atual.telefone %}
              <span class="info-label">Telefone</span>
              <span class="info">{{ deputado_atual.telefone }} </span>
            {% endif %}
            {% if deputado_atual.endereco %}
              <span class="info-label">Gabinete</span>
              <span class="info">{{ deputado_atual.endereco }}</span>
            {% endif %}
            {% if deputado_atual.biografia %}
              <span class="info-label">Biografia</span>
              <span class="info">{{ deputado_atual.biografia }}</span>
            {% endif %}
              <span class="redes-sociais">
                  {% if deputado_atual.twitter %}
                  <a href="{{ deputado_atual.twitter }}" target="_blank"><span class="fa fa-twitter"></span></a>
                  {% endif %}
                  {% if deputado_atual.facebook %}
                  <a href="{{ deputado_atual.facebook }}" target="_blank"><span class="fa fa-facebook"></span></a>
                  {% endif %}
                  {% if deputado_atual.instagram %}
                  <a href="{{ deputado_atual.instagram }}" target="_blank"><span class="fa fa-instagram"></span></a>
                  {% endif %}
                  {% if deputado_atual.site %}
                  <a href="{{ deputado_atual.site }}" target="_blank"><span class="fa fa-envelope-o"></span></a>
                  {% endif %}
              </span>

          </div>
      </div>
 </div>
