{% load static %}

<div class="deputado-foto">
    <img src="{% static 'imagens/alba.png' %}" alt="ALBA" class="img-fluid">
</div>
 <div class="deputado-informacoes col-xs-12">
      <div class="deputado-descricao">
          <h2>{{ deputado_atual.nome }}</h2>
          <hr>
          <div class="infos-deputados">
              <span class="info-label">Email</span>
              <span class="info">deputado@gov.ba.br</span>
              <span class="info-label">Telefone</span>
              <span class="info">+55 (71) 96666-6666 </span>
              <span class="info-label">Gabinete</span>
              <span class="info">Alameda dos Anjos, 666</span>
              <span class="info-label">Gabinete</span>
              <span class="info">Jordan graduated from Cornell University in 2004 with a Bachelor degree in computer science and a specialization in mathematics. While there, he published two articles on Code-project.</span>

              <span class="redes-sociais">
                  <span class="fa fa-twitter"></span>
                  <span class="fa fa-facebook"></span>
                  <span class="fa fa-envelope-o"></span>
              </span>

          </div>
      </div>
 </div>
