<div class="header-main__wrap__load">
  <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
</div>
<div class="header-main__wrap__graficos">
    <div class="header-main__wrap__graficos__header">
        <div class="header-main__wrap__graficos__header__el">
          <div class="dropdown">

            <!-- <input type="hidden" name="gastos-mes" id="gastos_deputado"> -->
            <div id="gastos_deputado" style="display:none" data-dados="{{gastos|safe}}"></div>
            <script>
            var dados = {{ gastos|safe }};
            </script>
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="categoria-atual">Categoria</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item" data-categoria="10">
                <span class="dropdown-menu__item__title">Imóveis</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="11">
                <span class="dropdown-menu__item__title">Material de Expediente</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="12">
                <span class="dropdown-menu__item__title">Software; Serviços; Móveis; Telefones</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="13">
                <span class="dropdown-menu__item__title">Consultorias, assessorias, pesquisas e trabalhos técnicos</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="14">
                <span class="dropdown-menu__item__title">Divulgação</span>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="dropdown-item" data-categoria="15">
                <span class="dropdown-menu__item__title">Locomoção, hospedagem</span>
                <span class="fa fa-caret-down"></span>
              </div>
            </div>
          </div>

        </div>

        <div class="anos">
            <span class="anos-line"></span>
            <span class="anos-line"></span>
            <span class="anos-line"></span>
            <span data-ano="2007" class="badge badge-pill">2007</span>
            <span data-ano="2008" class="badge badge-pill">2008</span>
            <span data-ano="2009" class="badge badge-pill">2009</span>
            <span data-ano="2010" class="badge badge-pill">2010</span>
            <span data-ano="2011" class="badge badge-pill">2011</span>
            <span data-ano="2012" class="badge badge-pill">2012</span>
            <span data-ano="2013" class="badge badge-pill">2013</span>
            <span data-ano="2014" class="badge badge-pill">2014</span>
            <span data-ano="2015" class="badge badge-pill">2015</span>
            <span data-ano="2016" class="badge badge-pill">2016</span>
            <span data-ano="2017" class="badge badge-pill">2017</span>
        </div>
    </div>
    <div class="body-graficos">
        <div class="indices"></div>
        <div class="wrapper-itens-graficos">

        </div>
    </div>
</div>

<div class="cards-gastos">
    <div class="header-gastos">
        <div class="gastos-titulo">
            <h2>{{ mes|date:"F" }} de {{ ano }}</h2>
            <div class="navigation-months">
                <div class="badge"><i class="fa fa-caret-left"></i></div>
                <div class="badge"><i class="fa fa-caret-right"></i></div>
            </div>
        </div>
    </div>
    <div class="body-card-gastos container-fluid">
       <div class="row">
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h3>R$ 
                          <span> 
                            {% if gasto_atual.hospedagem_locomocao != 'None' %}
                            {{ gasto_atual.hospedagem_locomocao }}
                            {% else %}  
                            0
                            {% endif %}
                          </span>
                        </h3>
                        <p class="hospedagem">HOSPEDAGEM</p>
                      
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                        <h3>R$ 
                          <span>
                            {% if gasto_atual.locacao_software != "None" %} 
                            {{ gasto_atual.locacao_software }}
                            {% else %}  
                            0
                            {% endif %}
                          </span>
                        </h3>
                        <p class="telefone">TELEFONE</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h3>R$ 
                        <span>
                        {% if gasto_atual.consultoria != 'None' %}
                        {{ gasto_atual.consultoria }}
                        {% else %}
                        0
                        {% endif %}
                        </span>
                      </h3>
                        <p class="consultoria">CONSULTORIA</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h3>R$ 
                        <span>
                          {% if gasto_atual.material_expediente != 'None' %}                      
                          {{ gasto_atual.material_expedient }}
                          {% else %}
                          0
                          {% endif %}
                        </span>
                        </h3>
                      <p class="reembolsado">MATERIAL DE EXPEDIENTE</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                      <h3>R$ 
                        <span>
                      {% if gasto_atual.divulgacao != 'None' %}
                      {{ gasto_atual.divulgacao }}
                      {% else %}
                      0
                      {% endif %}
                        </span>
                      </h3>
                        <p class="divulgacao">DIVULGAÇÃO</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                    
                    <h3>R$ 
                      <span>
                      {% if gasto_atual.aluguel_imoveis != 'None' %}
                      {{ gasto_atual.aluguel_imoveis }}
                      {% else %}
                      0
                      {% endif %}
                    </span>
                  </h3>
                    <p class="declarado">ALUGUEL DE IMÓVEIS</p>
                  </div>
                    <div class="card-header">
                         <span class="badge"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
